/* ==========================================================================
   Justice skin
   ========================================================================== */

// Intentionally left blank
/* Colors */
// $background-color: #521477 !default;
// $text-color: #fffd86 !default;
$primary-color: #F98125 !default;
$link-color: #2C599D;
$link-color-hover: #193A6F;

